#
#Fri Feb 07 12:46:21 PST 2014
hadoop-test.version=2.2.0-mr1-cdh5.0.0-beta-2
parquet-pig-bundle.version=1.2.5-cdh5.0.0-beta-2
snappy.version=1.0.4.1
zookeeper.version=3.4.5-cdh5.0.0-beta-2
protobuf-java.version=2.5.0
slf4j-api.version=1.7.5
hbase95.version=0.96.1.1-cdh5.0.0-beta-2
pig.version=0.12.0-cdh5.0.0-beta-2
version=0.12.0-cdh5.0.0-beta-2
slf4j-log4j12.version=1.7.5
hadoop-hdfs.version=2.2.0-cdh5.0.0-beta-2
avro.version=1.7.5-cdh5.0.0-beta-2
reactor.repo=https\://repository.cloudera.com/content/repositories/snapshots
hadoop-mapreduce.version=2.2.0-cdh5.0.0-beta-2
hadoop-common.version=2.2.0-cdh5.0.0-beta-2
hadoop-core.version=2.2.0-mr1-cdh5.0.0-beta-2
hadoopversion=23
commons-lang.version=2.6
hbaseversion=95
