export HADOOP_MAPRED_HOME=/usr/lib/hadoop-mapreduce
REGISTER /usr/lib/pig/datafu-1.1.0-cdh5.0.0-beta-2.jar
REGISTER /usr/lib/zookeeper/zookeeper-3.4.5-cdh5.0.0-beta-2.jar
REGISTER /usr/lib/hbase/hbase-server-0.96.1.1-cdh5.0.0-beta-2.jar
REGISTER /usr/lib/hbase/hbase-client-0.96.1.1-cdh5.0.0-beta-2.jar
REGISTER /usr/lib/hbase/hbase-common-0.96.1.1-cdh5.0.0-beta-2.jar
